#thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.clips {
  transition: all 0.3s linear;
}

.clips:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#title-span {
  margin-top: 1vh;
  font-size: large;
  font-weight: bold;
}

.info-container {
  position: relative;
}

#viewerCount {
  position: absolute;
  width: 8%;
  bottom: 5%;
  right: 5%;
  text-align: center;
  font-size: x-small;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: white;
  padding: 0.5em;
}

@media (max-width: 450px) {
  #viewerCount {
    width: 18%;
    bottom: 5%;
  }
}
