.navbar {
  width: 90%;
  margin: 1vh 5vw;
  display: flex;
  font-size: large;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.nav-logo img {
  min-width: 50px;
  max-width: 55px;
  aspect-ratio: 1/1;
}

.nav-logo {
  display: flex;
  width: fit-content;
  margin-right: 5%;
  column-gap: 5%;
  align-items: center;
}

#logoText {
  font-size: large;
  text-wrap: nowrap;
}

.nav-logo img {
  width: 30%;
  aspect-ratio: 1/1;
}

.nav-logo span {
  font-weight: bold;
}

.nav-items {
  list-style: none;
  display: flex;
  width: 30%;
  padding: 0;
  column-gap: 3%;
  align-items: center;
  text-decoration: none;
}

.nav-items li {
  width: 20%;
  height: 100%;
  text-align: center;
}

.nav-items span {
  line-height: 300%;
}

.nav-items li {
  border-radius: 5px;
}

.nav-items li:hover {
  background-color: hsl(220, 7%, 15%);
  transition: all 0.2s linear;
}

.search-bar {
  margin-left: auto;
  width: 20%;
  display: grid;
  align-items: center;
}

.search-bar input {
  display: inline;
  width: 100%;
  height: 30%;
  border-radius: 0%;
}

.search-bar input::placeholder {
  padding-left: 3%;
}

@media (max-width: 1155px) {
  .nav-items li {
    width: 20%;
  }

  #logoText {
    font-size: medium;
  }

  .nav-items li {
    font-size: small;
  }
}

@media (max-width: 628px) {
  #logoText {
    display: none;
  }

  .nav-items {
    width: 70%;
  }

  .search-bar {
    width: 0%;
    display: none;
  }
}
