.navbar {
  width: 90%;
  margin: 1vh 5vw;
  display: flex;
  font-size: large;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.nav-logo img {
  min-width: 50px;
  max-width: 55px;
  aspect-ratio: 1/1;
}

.nav-logo {
  display: flex;
  width: fit-content;
  margin-right: 5%;
  column-gap: 5%;
  align-items: center;
}

#logoText {
  font-size: large;
  text-wrap: nowrap;
}

.nav-logo img {
  width: 30%;
  aspect-ratio: 1/1;
}

.nav-logo span {
  font-weight: bold;
}

.nav-items {
  list-style: none;
  display: flex;
  width: 30%;
  padding: 0;
  column-gap: 3%;
  align-items: center;
  max-width: 400px;
  text-decoration: none;
}

.nav-items li {
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 0 2%;
}

.nav-items span {
  line-height: 300%;
}

.nav-items li {
  border-radius: 5px;
}

.nav-items li:hover {
  cursor: pointer;
  background-color: hsl(220, 7%, 15%);
  transition: all 0.2s linear;
}

.right-menu {
  margin-left: auto;
  display: flex;
  width: 35%;
  max-width: 400px;
  column-gap: 5%;
  flex-wrap: wrap;
}

#extDownload {
  margin-top: auto;
  margin-bottom: auto;

  background-color: rgba(0, 255, 163, 0.9);
  border-radius: 12px;
  border: none;
  width: max-content;
  padding: 2% 3%;
  height: 35%;

  font-size: small;
  font-weight: 800;

  color: hsl(220, 7%, 15%);

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 163, 1);
    transition: all 0.2s linear;
  }
}

.search-bar {
  width: auto;
  display: grid;
  align-items: center;
  flex: 1;
}

.search-bar input {
  display: inline;
  width: 100%;
  height: 35%;
  border-radius: 5px;
  border: none;
}

.search-bar input::placeholder {
  padding-left: 3%;
}

.mobile-search {
  display: none;
}

#searchIcon {
  float: right;
  width: 15%;
  aspect-ratio: 1/1;
  margin-block: auto;
  margin-left: auto;
}

.mobile-search-bar {
  width: 95vw;
  height: 5vh;
  display: none;
  margin: 1vh 2.5vw;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.mobile-search-bar input {
  width: 90%;
  height: 100%;
  padding-left: 3%;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1155px) {
  .nav-items li {
    width: 20%;
  }

  #logoText {
    font-size: medium;
  }

  .nav-items li {
    font-size: small;
  }
}

@media (max-width: 628px) {
  #logoText {
    display: none;
  }

  .nav-items {
    width: 70%;
  }

  .search-bar {
    display: none;
  }
  #extDownload {
    display: none;
  }

  .mobile-search {
    display: flex;
    flex: 1;
    margin-left: auto;
  }
}
