.watch {
  margin: 0 5vw;
  display: grid;
  place-items: center;
  height: 80vh;
}

.watch video {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 45vh;
  margin: 0 auto;
}

.clip {
  width: 80vw;
  display: grid;
  place-items: center;

}

.no-clips {
  height: 80vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.no-clips img {
  width: 15vw;
}

#msg {
  display: grid;
  place-items: center;
}

.clip-info {
  width :40vw;
  margin-top: 5vh;
}

@media screen and (max-width: 1600px) {
  .clip-info {
    width: 80vw;
  }
  
}

#msg span {
  font-weight: 500;
  font-size: large;
}

.clip-meta {
  width: 80%;
  display: grid;
  row-gap: 1vh;
}

#timeIcon {
  width: 30px;
  aspect-ratio: 1 / 1;
  margin-right: min(2vw, 10px);
}

.clip-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-meta {
  display: flex;
  align-items: center;
}

#downloadButton {
  background-color: rgba(0, 255, 163, 0.9);
  border-radius: 12px;
  border: none;
  width: 20vw;
  max-width: 150px;
  padding: 0.9vh 0.3vw;


  font-size: small;
  font-weight: 800;

  color: hsl(220, 7%, 15%);


  max-height: fit-content;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 163, 1);
    transition: all 0.2s linear;
  }
}


#title {
  font-weight: bold;
  font-size: x-large;
}

@media screen and (max-width: 768px) {
  #title {
    font-size: large;
  }
}